@model PackageBD.Areas.Supplier.Models.SupplierInfo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SupplierInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City_sp.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City_sp.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierVoucherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierVoucherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplerAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeZone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeZone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreferredCurrency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreferredCurrency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SrviceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SrviceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPerson1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPerson1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPerson2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPerson2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservationEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CancellationEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CancellationEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModificationEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModificationEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TechnicalEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechnicalEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
