@model PackageBD.Models.RegisterViewModel_Supplier
@{
    ViewBag.Title = "Supplier Registation";
}

<style>
    .supdetails{
        margin:0px;
    }
    .regtitle{
        margin-bottom:10px;
        text-align:center;
        
    }
    #supregform .glyphicon{
        color:#09443a
    }
</style>


<div id="supregform" class="container" style="background-color:#c8f8f0; padding:20px;">
    @using (Html.BeginForm("SupplierRegistration", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <h2 class="text-center"><b>Supplier Registration Form</b></h2>
            <hr />
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="container-fluid supdetails">
                    <div class="regtitle">
                        <h2 class="btn btn-info">Supplier Details</h2>
                    </div>
                    @*<hr />*@

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.EditorFor(model => model.SupplierName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Company Name" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.SupplierName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            @Html.EditorFor(model => model.SupEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Company Email" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.SupEmail, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                            @Html.EditorFor(model => model.SupplerAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Company Address" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.SupplerAddress, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-cog"></i></span>
                            @Html.EditorFor(model => model.Postcode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pincode/Zipcode/Postcode" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Postcode, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                            @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Telephone" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", @placeholder = "Fax" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                            @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                            @Html.DropDownList("CountryId", null,"-- Select Country --", htmlAttributes: new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-stats"></i></span>
                            @Html.DropDownList("CityID", null, "-- Select City --", htmlAttributes: new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            @Html.EnumDropDownListFor(model => model.TimeZone, "-- Select Time Zone --", htmlAttributes: new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.TimeZone, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                            @Html.EnumDropDownListFor(model => model.PreferredCurrency, "-- Select Currency --", htmlAttributes: new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.PreferredCurrency, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-arrow-down"></i></span>
                            @Html.EnumDropDownListFor(model => model.SrviceType, "-- Select Service Type --", htmlAttributes: new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.SrviceType, "", new { @class = "text-danger" })
                    </div>

                    <!--User access details -->
                    <div class="regtitle">
                        <h2 class="btn btn-info"><span>Access Details</span></h2>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-log-in"></i></span>
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Username" } })
                        </div>
                        @*@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })*@
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
                        </div>
                    </div>
                    <!--user access-->
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="container-fluid">

                    <!--contact details-->
                    <div class="regtitle">
                        <h2 class="btn btn-info"><span>Contact Details</span></h2>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Middle Name" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                                        
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            @Html.EditorFor(model => model.SupEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contact Email" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.SupEmail, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.EditorFor(model => model.ContactPerson1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contact Person-1" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.ContactPerson1, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.EditorFor(model => model.ContactPerson2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contact Person-2" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.ContactPerson2, "", new { @class = "text-danger" })
                    </div>


                    <div class="regtitle">
                        <h2 class="btn btn-info"><span>Accounts Details</span></h2>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.EditorFor(model => model.AccountsName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Accounts Name" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.AccountsName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.EditorFor(model => model.AccountsEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Accounts Email" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.AccountsEmail, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.EditorFor(model => model.AccountsNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Accounts Number" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.AccountsNumber, "", new { @class = "text-danger" })
                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    @Html.EditorFor(model => model.ReservationEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Reservation Email" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.ReservationEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    @Html.EditorFor(model => model.CancellationEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cancellation Email" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.CancellationEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    @Html.EditorFor(model => model.ModificationEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Modification Email" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.ModificationEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    @Html.EditorFor(model => model.TechnicalEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Technical Email" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.TechnicalEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <!--contact details-->

                    <!--validation summary-->
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <hr />

                    <div class="btn-group col-sm-offset-2" style="margin-top:30px;">
                        <div class="btn btn-default">
                            <input type="submit" value="Register" class="btn btn-success" />
                        </div>
                        <div class="btn btn-default">
                            <a href="@Url.Action("Index","Home",new { area=""})" class="btn btn-default"><i class="glyphicon glyphicon-log-in"></i>&nbsp; Already Member?</a>
                        </div>
                        <div class="btn btn-default">
                            <a href="@Url.Action("Index","Home",new { area=""})" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>

                </div>

                
            </div>
        </div>
    }
</div>








@*<div class="container">
    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("SupplierRegistration", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <hr />
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-log-in"></i></span>
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Username" } })
            </div>
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                @Html.EditorFor(model => model.SupEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email address" } })
            </div>
            @Html.ValidationMessageFor(model => model.SupEmail, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder="Confirm password" })
            </div>
        </div>


        <!--supplier info-->
        <div class="form-horizontal">
            <h4>SupplierInfo</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EditorFor(model => model.SupplierName, new { htmlAttributes = new { @class = "form-control", @placeholder="Supplier Name" } })
                </div>
                @Html.ValidationMessageFor(model => model.SupplierName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EditorFor(model => model.SupplierVoucherName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Supplier" } })
                </div>
                @Html.ValidationMessageFor(model => model.SupplierVoucherName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EditorFor(model => model.SupplerAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Suppler Address" } })
                </div>
                @Html.ValidationMessageFor(model => model.SupplerAddress, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EditorFor(model => model.Postcode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pincode/Zipcode/Postcode" } })
                </div>
                @Html.ValidationMessageFor(model => model.Postcode, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Telephone" } })
                </div>
                @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", @placeholder = "Fax" } })
                </div>
                @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile" } })
                </div>
                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.DropDownList("CountryId", null, htmlAttributes: new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.DropDownList("CityID", null, htmlAttributes: new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EnumDropDownListFor(model => model.TimeZone, "--Select Time Zone--", htmlAttributes: new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.TimeZone, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EnumDropDownListFor(model => model.PreferredCurrency, "--Select Currency--", htmlAttributes: new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.PreferredCurrency, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EnumDropDownListFor(model => model.SrviceType, "--Select Service Type--", htmlAttributes: new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.SrviceType, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                </div>
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Middle Name" } })
                </div>
                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                </div>
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EditorFor(model => model.ContactEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contact Email" } })
                </div>
                @Html.ValidationMessageFor(model => model.ContactEmail, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EditorFor(model => model.ContactPerson1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contact Person-1" } })
                </div>
                @Html.ValidationMessageFor(model => model.ContactPerson1, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EditorFor(model => model.ContactPerson2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contact Person-2" } })
                </div>
                @Html.ValidationMessageFor(model => model.ContactPerson2, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EditorFor(model => model.ReservationEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Reservation Email" } })
                </div>
                @Html.ValidationMessageFor(model => model.ReservationEmail, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EditorFor(model => model.CancellationEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cancellation Email" } })
                </div>
                @Html.ValidationMessageFor(model => model.CancellationEmail, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EditorFor(model => model.ModificationEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Modification Email" } })
                </div>
                @Html.ValidationMessageFor(model => model.ModificationEmail, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EditorFor(model => model.TechnicalEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Technical Email" } })
                </div>
                @Html.ValidationMessageFor(model => model.TechnicalEmail, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </div>
    <!--supplier info-->
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@






