@model PackageBD.Areas.Supplier.Models.TourPackage

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TourPackage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TourPackageTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourPackageTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Highlights)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Highlights)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InclusionExclusion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InclusionExclusion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TourDestination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourDestination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TourCostPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourCostPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TourSalesPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourSalesPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TourDiscountPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourDiscountPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalNights)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalNights)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotelStar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelStar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotelInUse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelInUse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayWiseItienary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayWiseItienary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TearmsAndConditions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TearmsAndConditions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Allotment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Allotment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adults)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Childrens)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Childrens)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidityDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidityDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayFour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayFour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayFive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayFive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaySix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaySix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaySeven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaySeven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayEight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayEight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayNine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayNine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayTen)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
